<!DOCTYPE html>
<html>
    <%- include('./partials/headIndexBarraLat')%>
    <body><div>
        <%- include('./partials/headerConBarraLat')%>
        <%- include('./partials/carruselimagenes')%>
        <%- include('./partials/productosBuscados')%>
        <div class="padrebanners">
        <%- include('./partials/ListadoFunkosfotos')%>
        <%- include('./partials/nuevosIngresos')%>
        </div>
        <%- include('./partials/footer')%>
        <script src="/js/front.js">
        </script>
    </body>
</html>