<!DOCTYPE html>
<html>
    <%- include('.././partials/headIndexBarraLat')%>
    <body>
        <%- include('.././partials/headerConBarraLat')%>
<section class="banner">
<h1>
    Listado de Funko's
</h1>
</section>
<div class="productos">
    <% for (let i=0; i < productos.length; i++) { %>
        <a href="./productdetails/<%=productos[i].id_product%>"><article class="producto">
            <img src="/images/<%=productos[i].image_product%>" alt="<%=productos[i].name_product%>">
            <div class="divprecioimg">
                <h4 class="nombreproducto"><%=productos[i].name_product%></h4>
                <p class="descripcionproducto"><%=productos[i].product_description%></p>
                <p class="precioproducto">precio: <%=productos[i].price%></p>
            </div>
        </article></a>
    <% } %>    
</div>

        <%- include('.././partials/footer')%>
        <script src="/js/front.js">
        </script>
    </body>
</html>