<!DOCTYPE html>
<html>
    <%- include('../partials/headIndexBarraLat')%>
<body>
    <%- include ('../partials/headerConBarraLat')%>
    <section class="padre768px"><!--detalle producto-->
        <div class="padreFlexDetalleProducto">
                <img src="/images/<%=producto.image_product%>">
        </div>
    
    <div class="contenedorprecio">
        <h2 class="nombreproducto">
            <%=producto.name_product%>
        </h2>
        <h4 class="descripcionproducto">
            <%=producto.product_description%>
        </h4>
        <h5 class="precioproducto">
            precio: <%=producto.price%>
        </h5>
        <form action="../products/cart.ejs" method="GET" id="botonagregar">
            <button class="addcart" type="submit" name="addcart">+ Agregar al carrito</button>
        </form>
    </div>
</section>
<div>
<button class="crearproducto"><a href="../createProduct">Crear Producto</a></button>
<button class="editarproducto"><a href="../editProduct">Editar Producto</a></button>
<br>
<br>
</div>
<%- include('../partials/footer')%>
</body>
</html>